$spacer: 1rem;
$fontweight: 100;
$color-background: var(--background-rgb);
$color-foreground: var(--foreground-rgb);
// ---------
$font-size: var(--font-size);
$font-size-s: var(--font-size-s);
$font-size-l: var(--font-size-l);
$font-size-xl: var(--font-size-xl);
// ---------
$color-primary: var(--color-primary-rgb);
$color-secondary: var(--color-secondary-rgb);
$color-white: var(--color-white-rgb);
$color-black: var(--color-black-rgb);
// ---------
$border-color: var(--border-color-rgb);
$border-size: var(--border-size);
$border-radius: var(--border-radius);
//   ================
$card-border-color: var(--card-border-rgb);
$card-border-size: var(--card-border-size);
$card-border-radius: var(--card-border-radius);
// ---------
$control-border-radius: var(--control-border-radius);
// ---------
$table-header-color: var(--table-header-color-rgb);
