* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-robo);
  font-size: var(--font-size);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 1rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.9rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.7rem;
}
h6 {
  font-size: 0.6rem;
}
